a {
    color: #647196;
}

p {
    color:#31384b
}



h1, h2, h3, h4, h5, h6 {
    color: #3A4374
}

.background-primary {
    background-color: #FFFFFF;
}

.background-blue {
    background-color: #4661e6;
}