@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Abril+Fatface&family=Roboto+Slab:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --border-color: #c1c1c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.33rem;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1 { font-size: 56px;}
h2 { font-size: 48px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

h1, h2, h3, h4 , h5, h6 {
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    color: #141c3a;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.main {
    width: 100%;
    height: 100%;
}

#nav-bar {
    width: 100%;
    max-width: 100vw;
    height: 80px;
    background-color: #0B090A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
    position: fixed;
    float: left;
    top: 0;
}


#nav-header {
    font-size: 1.3rem;
}

#nav-menu {
    background-color: #0B090A;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    position: absolute;
    height: auto;
    top: 80px;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
    opacity: .8;
    transition: .3s;
}

#nav-menu-icon {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 25%;
    font-size: 1.3rem;
    font-weight: 900;
}

.nav-link {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

.nav-link:hover {
    border-bottom: 1px solid #ffffff;
}

#nav-menu-toggler {
    display: none;
}

#nav-menu-toggler:checked ~ #nav-menu {
    display: flex;
}


@media screen and (min-width:900px) {

    #nav-menu-icon {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        position: static;
        opacity: 1;
        padding: 0;
    }

}


#welcome-section {
    height: 100%;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    column-gap: 1rem;
    padding: 200px 0;
    border-bottom: 1px solid var(--border-color);
}

#welcome-section h1 {
   color: #141c3a;
   font-family: 'Russo One', sans-serif;
}

#welcome-section h2 {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

#welcome-section #avatar {
    background: url(../images/avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid #fca211ee;
    border-radius: 25%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    transition: .3s;
}

#welcome-section #avatar:hover,#avatar:focus {
    border: none;
    width: 300px;
    height: 300px;
}



#projects {
    background-color: #e5e5e5;
    border-bottom: 1px solid var(--border-color);
    padding-top: 80px;
    display: grid;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#projects img {
    width: 100%;
    height: auto;
}

#projects-header {
    text-align: center;
    margin-bottom: 2rem;
}

.project-title {
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#projects article {
    display: flex;
    flex-direction: column;
    border: 1px solid #fca2117e;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

#projects article p {
    margin-left: .5rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.preview {
    border-top: 1px solid #000000;
}

.article-link {
    display: block;
    text-decoration: none;
    outline: none;
    color: #000000;
}

#projects-link {
    text-decoration: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    padding: .5rem 1rem;
    margin: 1rem auto;
    border-radius: 5px;
    font-size: 1.3em;
    font-family: 'Russo One', sans-serif;
}


#contact {
    height: 100%;
    width: 100%;
    padding-top: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* Make a circular navbar for the contact links */
#menu {
    display: grid;
    justify-content: center;
    list-style: none;
}

.menu-item {
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #c1c1c1;
    border-radius: 50%;
}

.menu-item:nth-child(1) {
    transform: rotate(60deg) translateX(-100px);
}
.menu-item:nth-child(2) {
    transform: rotate(120deg) translateX(-100px);
}
.menu-item:nth-child(3) {
    transform: rotate(180deg) translateX(-100px);
}
.menu-item:nth-child(4) {
    transform: rotate(240deg) translateX(-100px);
}
.menu-item:nth-child(5) {
    transform: rotate(300deg) translateX(-100px);
}

.menu-item:nth-child(6) {
    transform: rotate(360deg) translateX(-100px);
}


.menu-item:nth-child(1) i{
    transform: rotate(-60deg);
}
.menu-item:nth-child(2) i{
    transform: rotate(-120deg);
}
.menu-item:nth-child(3) i{
    transform: rotate(-180deg);
}
.menu-item:nth-child(4) i{
    transform: rotate(-240deg);
}
.menu-item:nth-child(5) i{
    transform: rotate(-300deg);
}
.menu-item:nth-child(6) i{
    transform: rotate(-360deg);
}

/* Animate link when hovered*/
.menu-item:hover i {
    transform: rotate(360deg) scale(2);
    color: #FCa311;
}

.menu-item a {
    text-decoration: none;
}

.menu-item i {
    line-height: 80px;
    color: #000000;
    font-size: 40px;
    transition: .2s;
}
